.linea{ 
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
} 

.imagen{
    width: 3rem;
    height: 3rem;
    margin-top: 0.5rem;   
}

.lupa:hover {
    background-color: aqua;
}

.contenedor .navegador{
    width: 70rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.contenedor{
    background-color: #d8ddec;
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.lupa{
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 2.5rem;
    margin-top: 0.5rem;
}

.Archivos{
    width: 2.8rem;
    height: 2.8rem;
    margin-left: 2.8rem;
    margin-top: 0.5rem;
}

.hora{
    margin-left: 60rem;
    font-size: 1.8rem;
    position: absolute;
    margin-top: 1rem;
}

.hora_2{
    z-index: 2;
}

.menu{
    
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
  justify-content: center;
  align-items: center;

   
}

.barra_busqueda{
    width: 90%;
    height: 4rem;
    border-bottom: 0.2rem solid #4f91ce;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-left: 5%;
    margin-top: 5%;
}

.Apagado{
    width: 2.5rem;
    position: absolute;
    margin-top: 55rem;
    right: 5rem;
}

.contenedor2{
    width: 60rem;
    height: 60rem;
    position: absolute;
    background: #e0e7f9;
    top: 10rem;
}

.activar {
    display: block;
  }

